/* 全局样式：取消所有元素的默认内外边距和边框 */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* 设置 body 背景图片 */
body{
    background: url(../../imgs/加入我们背景.jpeg);
}

/* 超链接的默认状态和访问过后的样式：白色，无下划线 */
a:link,a:visited{
    color: white;
    text-decoration: none;
}

/* 超链接在鼠标悬停时的样式：变为黄色 */
a:hover{
    color: yellow;
}

/* 网页右侧三个固定超链接容器样式 */
.toback{
    position: fixed;       /* 固定定位，视口滚动时位置不变 */
    width: 50px;
    height: 190px;
    right: 2%;            /* 距离右边缘2% */
    z-index: 9;           /* 层叠顺序 */
    top: 41%;             /* 距离顶部41% */
}

/* 右侧固定超链接的样式 */
.toback a{
    display: block;        /* 转换为块状元素 */
    color: #999;          /* 链接文字颜色 */
    width: 50px;
    height: 50px;  
    border-radius: 100%;  /* 圆形边角 */
    background-color: rgb(248, 214, 214);  /* 背景色 */
    text-align: center;   /* 文本居中对齐 */
    line-height: 50px;    /* 行高 */
    margin: 10px;         /* 四周外边距 */
    font-size: 13px;      /* 字体大小 */
    box-shadow: 0 0 0 1px #fff inset; /* 内阴影 */
    transition: box-shadow 0.4s ease 0s; /* 过渡效果 */
}

/* 固定超链接在悬停时的样式 */
.toback a:hover{
    box-shadow: 0 0 0 30px red inset; /* 悬停时内阴影变化 */
    color:white;                     /* 文字颜色变为白色 */
}

/* 顶部容器样式设置 */
.homeclass{
    width: 100%;
    height: 1000px;
    position: relative;  /* 相对定位，用于内部绝对定位元素的基准 */
}

/* 头部样式 */
.header1{
    width: 100%;
    height: 40px;
    background: #7a0505; /* 深红色背景 */
    z-index: 999;        /* 层叠顺序 */
    position: absolute;  /* 绝对定位 */
}
.header1 img{
    float: left;        /* 左浮动 */
    height: 40px;       /* 高度 */
    margin-left: 50px;  /* 左边距 */
}
.header1 .right{
    margin-top: 10px;   /* 上边距 */
    right: 40px;        /* 右偏移 */
    float: right;       /* 右浮动 */
    margin-right: 40px; /* 右边距 */
    font-family: "微软雅黑"; /* 字体 */
}
.header1 .right a{
    margin-right: 20px; /* 右外边距 */
}

/* 导航栏容器样式 */
.header{
    width: 100%;
    height: 90px;
    background: rgba(0,0,0,0.2); /* 半透明背景色 */
    z-index: 1000;               /* 层叠顺序 */
    position: absolute;          /* 绝对定位 */
    top: 40px;                   /* 顶部距离 */
    border-bottom: 1px solid #fff; /* 底部边框 */
}

/* 导航栏样式 */
.nav{
    float: left;         /* 左浮动 */
    width: 100%;
    height: 90px;
    background-color: rgba(0,0,0,0.3); /* 半透明背景 */
}
.nav>ul{
    margin-top: 0;
    margin-left: 210px; /* 左偏移 */
    padding-inline-start: 0%; /* 清除内边距 */
}
.nav>ul>li{
    float: left;         /* 左浮动 */
    width: 178.3px;
    height: 90px;
    list-style: none;   /* 无列表样式 */
    text-align: center; /* 居中对齐 */
    margin-left: 0;
    line-height: 90px;  /* 行高 */
    font-family: "黑体"; /* 字体 */
    font-size: 18px;    /* 字体大小 */
    font-weight: bolder; /* 加粗 */
    color: white;       /* 文字颜色 */
}

/* 子菜单样式 */
.nav-child > li {  
    width: 178.3px;
    height: 40px;
    list-style: none;    /* 无列表样式 */
    text-align: center;
    line-height: 40px;   /* 行高 */
    background-color: rgba(0,0,0,0.3); /* 半透明背景 */
    color: white;        /* 文字颜色 */
}
.nav-child{
    visibility: hidden;             /* 初始隐藏 */
    font-family: "微软雅黑";      /* 字体 */
    font-size: 15px;               /* 字体大小 */
    font-weight: bold;             /* 加粗 */
    list-style: none;              /* 无列表样式 */
}

/* 子菜单悬停样式 */
.nav-child>li>a:hover{
    color: rgba(255, 0, 0, 0.635); /* 悬停时颜色切换 */
}

/* 子菜单悬停显示 */
ul>li:hover ul li{
    border-style: dotted;          /* 边框样式为虚线 */
    border-color: gainsboro;      /* 边框颜色 */
    border-width: 0.3px;          /* 边框宽度 */
    visibility: visible;         /* 可见 */
}

/* 顶部图片样式 */
.image{
    position: relative;     /* 相对定位 */
    width: 100%;
    height: 500px;
    background-image: url(../../imgs/加入我们.webp); /* 背景图片 */
    border-bottom: 1px solid #fff;  /* 底部边框 */
    background-position: center center; /* 背景居中 */
    background-repeat: no-repeat;    /* 不重复 */
    background-size: cover;          /* 充满 */
    background-color: #464646;       /* 背景色 */
}
.image ul{
    position: absolute;         /* 绝对定位 */
    margin: 180px 100px;        /* 外边距 */
}
.image ul>li{
    list-style: none;                /* 无列表样式 */
    font-family: "微软雅黑"; /* 字体 */
    font-size: 120px;               /* 字体大小 */
    color: red;                     /* 文字颜色 */
    font-weight: bolder;            /* 加粗 */
    text-shadow: 2px 3px 3px #464646; /* 文字阴影 */
}

/* value、mission 和 staff 通用的样式 */
.value, .mission, .staff{
    position: relative; /* 相对定位 */
    width: 100%;
    height: 600px;
}

.value .valueimg, .staff .staffimg{
    position: absolute;    /* 绝对定位 */
    border-radius: 20px;   /* 圆角 */
    box-shadow: 5px 5px 5px 5px #666; /* 阴影效果 */
    width: 600px;
    height: 450px;
    margin: 70px 150px;     /* 外边距 */
    background: url(../../imgs/风格图.jpg); /* 背景图片 */
    background-size: cover; /* 充满背景 */
}
.staff .staffimg{
    background: url(../../imgs/加入我们.webp); /* 背景图片 */
    background-size: cover; /* 充满背景 */
}

.value .valuetext, .staff .stafftext{
    position: absolute;   /* 绝对定位 */
    width: 600px;
    height: 500px;
    margin: 90px 760px; /* 外边距 */
}

.value .valuetext>p, .staff .stafftext>p{
    display: block;        /* 块元素 */
    font-size: 15px;       /* 字体大小 */
    color: #666;           /* 文字颜色 */
    width: 550px;          /* 宽度 */
    height: 400px;         /* 高度 */
    line-height: 26px;     /* 行高 */
    margin: 10px auto;     /* 上下外边距 */
}

.value .valuetext>h2, .staff .stafftext>h2{
    display: block;        /* 块元素 */
    font-size: 30px;       /* 字体大小 */
    width: 550px;          /* 宽度 */
    height: 50px;          /* 高度 */
    margin: 0 auto;        /* 外边距 */
    color: #464646;        /* 文字颜色 */
}

/* mission 样式设置 */
.mission .missionimg{
    position: absolute;    /* 绝对定位 */
    border-radius: 20px;   /* 圆角 */
    box-shadow: 5px 5px 5px 5px #666; /* 阴影效果 */
    width: 600px;
    height: 450px;
    margin: 90px 760px; /* 外边距 */
    background: url(../../imgs/配料台2.jpg); /* 背景图片 */
    background-size: cover; /* 充满背景 */
}
.mission .missiontext{
    position: absolute;    /* 绝对定位 */
    width: 600px;
    height: 500px;
    margin: 100px 130px; /* 外边距 */
}
.mission .missiontext>p{
    display: block;        /* 块元素 */
    font-size: 15px;       /* 字体大小 */
    color: #666;           /* 文字颜色 */
    width: 550px;          /* 宽度 */
    height: 400px;         /* 高度 */
    line-height: 26px;     /* 行高 */
    margin: 10px auto;     /* 上下外边距 */
}
.mission .missiontext>h2{
    display: block;        /* 块元素 */
    font-size: 30px;       /* 字体大小 */
    width: 550px;          /* 宽度 */
    height: 50px;          /* 高度 */
    margin: 0 auto;        /* 外边距 */
    color: #464646;        /* 文字颜色 */
}

/* 加入我们 按钮样式 */
.joinus{
    position: relative; /* 相对定位 */
    width: 200px;
    height: 50px;
    margin: -30px 150px 0 150px;  /* 外边距 */
}

/* 加入我们 按钮链接样式 */
.joinus>a{
    display: block;           /* 块元素 */
    border: 1px solid #e60012; /* 边框颜色 */
    color: #e60012;            /* 文字颜色 */
    padding: 3px 15px;         /* 内边距 */
    width: 200px;
    height: 50px;
    font-size: 20px;           /* 字体大小 */
    font-weight: bold;         /* 加粗 */
    text-align: center;        /* 文本居中对齐 */
    line-height: 50px;         /* 行高 */
    border-radius: 40px;      /* 圆角 */
    margin: 0 auto;           /* 外边距 */
}

/* 加入我们 按钮悬停样式 */
.joinus>a:hover{
    background-color: red;  /* 背景颜色 */
    color: white;           /* 文字颜色 */
}

/* 页脚样式 */
footer{
    width: 100%;
    height: 500px;
    margin-top: 50px;      /* 上外边距 */
    background-image: url(../../imgs/登录背景.jpg); /* 背景图片 */
    border-bottom: 1px solid #fff; /* 底部边框 */
    background-position: center center; /* 背景居中 */
    background-repeat: no-repeat;  /* 不重复 */
    background-attachment: fixed;  /* 背景固定 */
    background-size: cover;        /* 背景填满 */
    background-color: #464646;     /* 背景颜色 */
}

footer .logo{
    width: 200px;           /* 宽度 */
    height: 75px;           /* 高度 */
    margin: 0 200px;        /* 外边距 */
    text-align: center;     /* 文本居中 */
}

footer .logo ul>li{
    list-style: none;                /* 无列表样式 */
    font-family: "微软雅黑"; /* 字体 */
    font-size: 40px;                 /* 字体大小 */
    color: red;                      /* 文字颜色 */
    font-weight: bold;               /* 加粗 */
    line-height: 90px;               /* 行高 */
}

footer .login{
    width: 550px;        /* 宽度 */
    margin: 20px 10px;   /* 外边距 */
    color: black;        /* 文字颜色 */
}

footer .login .table{
    float: left;            /* 左浮动 */
    width: 525px;           /* 宽度 */
    padding-left: 30px;     /* 内边距 */
    box-sizing: border-box; /* 盒子模型 */
}

footer .login .table li{
    float: left;            /* 左浮动 */
    margin-right: 30px;     /* 右外边距 */
    list-style: none;       /* 无列表样式 */
}

/* 表单输入框样式 */
footer .login .table li input{
    width: 300px; 
    height: 32px; 
    margin: 10px 0 15px 0;   /* 外边距 */
    border-radius: 5px; 
    padding-left: 10px;      /* 内边距 */
    box-sizing: border-box;
    border: none;            /* 无边框 */
}

/* 表单标签样式 */
footer .login .table li span{
    width: 100px; 
    display: inline-block;
    font-weight: bolder;  /* 加粗 */
}

/* 提交按钮输入框样式 */
footer .login .table li:last-child input{                               
    width: 100px; 
    height: 40px; 
    font-size: 18px;        /* 字体大小 */
    margin-top: 20px;       /* 上外边距 */
    margin-left: 100px;     /* 左外边距 */
    background: white;      /* 背景颜色 */
    border-radius: 20px;    /* 圆角 */
    color: black;           /* 文字颜色 */
}

footer .login .table li:last-child .but{
    margin-left: 90px;      /* 左外边距 */
}

/* 提交按钮链接样式 */
footer .login .table li:last-child .but a{
    display: block;          /* 块元素 */
    border: 1px solid #e60012; /* 边框颜色 */
    background-color: red;     /* 背景颜色 */
    color: white;              /* 文字颜色 */
    padding: 3px 15px;         /* 内边距 */
    width: 165px;              /* 宽度 */
    font-size: 16px;           /* 字体大小 */
    text-align: center;        /* 文本居中对齐 */
       border-radius: 40px;      /* 圆角 */
}

/* 提交按钮链接悬停样式 */
footer .login .table li:last-child .but a:hover{
    box-shadow: 2px 2px 2px 2px #666; /* 阴影效果 */
}

